.header {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:1100px;
    border:1px solid #000000;
    background:#fff;
    border-radius: 10px;
    padding:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 175px;
}

.header .logo{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.header .tel{
    text-align: right;
    font-size: 36px;
    margin-top: 60px;
    font-weight: bold;
    margin-right: 20px;
}

.menu {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:1100px;
    border:1px solid #000000;
    background:#fff;
    clear: both;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu ul{
    overflow: hidden;
    list-style: none;
    margin-left:150px;
    padding-left: 0;
}

.menu ul li{
    float:left;
    padding: 0 20px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #990099;
}

.menu ul li a:hover{
    color:#CC33CC;
    text-decoration: underline;
}

.pages { 
    margin-left:auto; 
    margin-right:auto; 
    width:1100px;
}

.content {
    margin-right:10px;
    width:856px;
    border:1px solid #000000;
    background:#fff;
    float:left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content>h1{
    margin-bottom: 10px;
    color:#660066;
}

.content p{
    font-size: 18px;
}

.content-news {
    margin-right:10px;
    width:1055px;
    border:1px solid #000000;
    background:#fff;
    float:left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-news>h1{
    margin-bottom: 10px;
    color:#660066;
}

.content-news p{
    font-size: 18px;
}

.items table{
    width: 100%;
}

.items table tr{
    width: 100%;
}

.items table .img{
    width:250px;
}

.items table .img img{
    width: 100%;
}

.items table .name{
    font-size: 20px;
    font-weight: bold;
    color: #990099;
    padding: 5px;
    text-decoration: underline;
}

.items table .description{
    font-size: 18px;
    border-left: 3px solid #c6c;
    padding-left: 10px;
    text-align: justify;
}

.items table .price{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c6c;
}

.news table{
    width: 100%;
}

.news table tr{
    width: 100%;
}

.news table .head-new{
    font-size: 20px;
    font-weight: bold;
    color: #990099;
    padding: 5px;
    text-decoration: underline;
}

.news table .text-new{
    font-size: 18px;
    border-left: 3px solid #c6c;
    padding-left: 10px;
    text-align: justify;
}

.form label, .form input, .form textarea{
    width: 100%;
}

.form {
    margin-bottom: 30px;
    border-bottom: 1px solid #c0c;
}

.list-otzyv table{
    width: 100%;
}

.list-otzyv table .name-user{
    width: 200px;
    font-size: 16px;
    font-weight:bold;
    text-align: left;
}

.list-otzyv table .email-user{
    font-size: 14px;
    vertical-align: bottom;
    font-style: italic;
}

.list-otzyv table .text-user{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 25px;
    padding-bottom: 10px;
    text-align: justify;
}

.gallery .item-gallery img{
    width: 100%;
}

.success{
    font-size: 18px;
    color:#009933;
    font-weight: bold;
}

.warning{
    color:#f00;
    font-size: 18px;
    font-weight: bold;
}

.sidebar {
    width:160px;
    border:1px solid #000000;
    background:#fff;
    float:left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding:10px;
}

.sidebar .head{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    color: #660066;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.sidebar ul{
    list-style: none;
    padding-left: 0;
}

.sidebar ul li{
    margin-bottom: 20px;
}

.sidebar ul li a{
    text-decoration: none;
    color: #CC0099;
}

.sidebar ul li a:hover{
    text-decoration: underline;
}

.foot {
    clear:both;
}
.footer {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:1080px;
    border:1px solid #000000;
    background:#fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    overflow: hidden;
}

.footer .copy{
    float: left;
    font-size: 18px;
}

.footer .info{
    float: right;
    font-size: 18px;
}